:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--preto);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;

}

header .logo{
    color: var(--vermelho);
    font-weight: bold;
    font-family: 'Arial Black';
}

header nav a {
    text-decoration: none;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

header nav a:hover{
    color: rgb(240, 240, 216);
}

/**FILME PRINCIPAL**/

.filme-principal   {
    font-size: 16px ;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/riverdale-fundo.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

 .container{
    margin-left: 2%;
}

.filme-principal .descricao{
    margin: 1% 0 4% 0;
}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS',Arial, sans-serif;
    margin-top: 7%;
}

.filme-principal .botao-f-principal{
    background-color: rgba(42, 42, 42, 0.6);
    border: none;
    color: azure;
    border-radius: 5%;

    align-items: center;
    

    padding: 12px 15px;
    font-size: 13px;
    font-weight: 600;

    cursor: pointer;

    transition: .3s ease all;
}

.filme-principal .botao-f-principal:hover{
    border: solid 2px;
    border-color: azure;
    border-radius: 5%;
    background-color: azure;
    color: black ;
    font-weight: bold;
}

.filme-principal .fas{
    margin-right: 3px;
}


.filme-principal .container{
    width: 80%;
}