@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao-f-principal{
        margin-top: 2%;
        width: 170px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 70%;
    }
}

@media screen and (max-width: 429px){
    .botoes-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}